# http://about.travis-ci.org/docs/user/build-configuration/
rvm:
  - 1.8.7
  - 1.9.3
  - 2.0.0
gemfile: Gemfile.ci

matrix:
  include:
    - rvm: 1.9.3
      gemfile: Gemfile.ci
  exclude:
    -rvm: 1.8.7
      gemfile: Gemfile.ci
  allow_failures:
    - rvm: 1.8.7
